/* Global Styling*/
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  transition: transform .5s, .5s;
  transform: scale(1.3);
}

h2 {
  font-size: 1.7rem;
}

.col-12 h3 {
  font-size: 1.3rem;
}

button.btn-primary.btn-lg {
  width: 11.4rem;
  margin-top: 2.8rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

button.btn-primary.btn-lg:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

button.btn-primary.btn-lg:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.blue {
  color: steelblue;
}

/*Nav Styling*/
nav {
  background-color: white;
}

nav .container {
  width: 50%;
  margin-left: 1rem;
}

li.nav-item.nav-link {
    padding-right: 2rem;
}

nav ul li {
  font-size: 1.1rem;
}

nav ul li {
  padding-right: 2rem;
}

.navbar-nav .nav-link {

}

.active {
  color: #399bd1;
}

/*Jumbotron Styling*/
.slick-slide {
  outline: none;
}

.jumbotron.jumbotron-bike {
  background-image: url(../jumpstart_resources/images/jumbotron-bike.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 11.85rem;
  margin: auto;
}

.jumbotron.jumbotron-beer {
  background-image: url(../jumpstart_resources/images/jumbotron-beer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 11.85rem;
}

.jumbotron.jumbotron-flowers {
  background-image: url(../jumpstart_resources/images/jumbotron-flowers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 11.85rem;
}

.jumbotron.jumbotron-duffel {
  background-image: url(../jumpstart_resources/images/jumbotron-duffel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 11.85rem;
}

header {
  font-family: 'Monoton', cursive;
  font-size:7rem;
  margin: auto;
  text-shadow: -1px -1px 0 #000,
               -1px -1px 0 #000,
               -1px -1px 0 #000,
               -1px -1px 0 #000;
}

.jumbotron p {
  font-size: 1.2rem;
  width: 51.3rem;
  margin: auto;
}

.jumbotron button {
  margin: auto;
}

/*Featured Project Styling*/
#featured {
  color: steelblue;
}

/* Products Styling Section */
.products li {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4;
}

.products p {
  line-height: 1.35;
}

/* Projects Section*/
.project-section img {
  width: 100%;
}

/* Learn More Section */
.learn-more {
  text-align: center;
  padding-top: 5.3rem;
  margin: 5.3rem auto;
}

.learn-more p {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

/* Media Queries for Mobile View */
@media only screen and (max-width: 540px) {
  header {
    font-size: 4.3rem;
  }

  img.col-12.navbar-right {
    display: none;
  }

  li.nav-item.nav-link {
    width: 100%;
  }

  .jumbotron-bike header {
    margin-left: -2rem;
  }

  .jumbotron-beer header {
    margin-left: -6rem;
  }

  .jumbotron-flowers header {
    margin-left: -4rem;
  }

  .jumbotron-duffel header {
    margin-left: -4rem;
  }
}
